.header {
    background: white;
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    padding-block: 1rem;
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 800;
    /* Bolder */
    font-size: 1.4rem;
    /* Slightly larger */
    color: var(--text-dark);
    letter-spacing: -0.5px;
}

.logo-icon {
    font-size: 1.5rem;
}

.highlight {
    color: var(--primary-color);
}